.history-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #282928;
  padding: 30px;
  background-color: rgba(21, 22, 21, 0.9);
  color: #fff;
  border-radius: 13px;
  box-shadow: 1px 1px 30px rgba(197, 116, 116, 0.3);
  max-width: 90%;
  overflow-x: auto; /* agar table wide ho to scroll aayega */
  width: 75%;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse; /* must for borders to show correctly */
    border: 2px solid #fff; /* outer table border */
}

th, td {
    border: 2px solid #fff; /* inner cell borders */
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: rgba(107, 36, 93, 0.373);
    box-shadow: 1px 1px 50px rgb(41, 40, 40);
}

/* Optional: alternating row colors for better visibility */
tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.History-search-input{
    width: 80%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.History-search-input:focus{
    background-color: rgba(81, 83, 81, 0.663);
    color: white;
}

.pdf-button{
    border-radius: 5px;
    margin-bottom: 10px;
    float: right;
    padding: 10px;
}

.design{
    border: 1px solid rgb(48, 47, 47);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(255, 0, 0, 0.211);
}

/* Limit Address column width and truncate text */
.address-col {
  max-width: 150px; /* adjust width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media screen  and (max-width: 1300px) {
 
    .History-search-input{
    width: 45%;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

.History-search-input:focus{
    background-color: rgba(81, 83, 81, 0.663);
    color: white;
}



}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(14, 15, 14, 0.967);
  z-index: 9999;
}


/* Tooltip on hover */
/* .address-col:hover::after {
  content: attr(data-full); 
  position: absolute;
  top: 100%;               
  left: 0;
  max-width: 600px;        
  white-space: normal;
  background: #000000b5;
  color: #ffffffca;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 5px;
  z-index: 10000000000;
} */
